Package: com.spark.crash-reporter
Version: 1.17.2
Architecture: iphoneos-arm
Pre-Depends: firmware (>=4.0)
Depends: coreutils, dpkg, grep, com.spark.libcrashreport (>= 1.1.1), com.spark.libpackageinfo (>= 1.1.1), com.spark.techsupport (>= 1.5.0), mobilesubstrate, preferenceloader
Provides: crash-reporter
Replaces: crash-reporter
Conflicts: crash-reporter
Section: System
Tag: purpose::uikit, role::enduser
Name: CrashReporter (SparkDev)
Description: Send useful crash info to developers.
Homepage: http://github/ashikase/CrashReporter/
Depiction: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=crashreporterData
dev: ashikase
Author: Lance Fetters (ashikase) <support@ashikase.com>
Maintainer: BigBoss <bigboss@thebigboss.org>
Sponsor: thebigboss.org <http://thebigboss.org>
